<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <a class="add-suite-modal pointer">
        <span class="glyphicon glyphicon-plus"></span> Add Suite</a>
    </div>

    <div class="col-xs-6">
      <p>
        <a class="add-test-modal pointer">
          <span class="glyphicon glyphicon-plus"></span> Add Test</a>
      </p>
    </div>
  </div>
</div>

Total suites: <%= current_user.suites.count %><br>
Total tests: <%= testCount %><br>
Latest suites: <br>
Latest tests: <br>
