<div class="modal fade" id="modal" data-step="<%= @step.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pick a selector for this click</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
              <label>Possible selectors: </label>
              <select name="selector" class="form-control">
                <% @step.config[:selectors].each do |selector| %>
                    <option value="<%= selector %>"><%= selector %></option>
                <% end %>
              </select>
              <button type="button" class="btn btn-default save-click-step">Save</button>
            </div><hr>
        </form>

        <form>
            <div class="form-group">
              <label>Enter your own
                (If there're more than 1 match, default to the 1st one)</label>
              <input name="selector" type="text" class="form-control" value="<%= @step.selector %>">

              <button type="button" class="btn btn-default save-click-step">Save</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>