<div class="form-group">
  <label for="extract">Default Extract from resulted page load:</label><br>

  <div id="extract-list" class="form-group">
    <% @step.extracts.each do |extract| %>
        <div>
          <span class="hash-pair"><%= extract.title %></span> :
          <span class="hash-pair"><%= extract.command %></span>

          <span class="glyphicon glyphicon-remove remove-extract" data-id="<%= extract.id %>"></span>
        </div>
    <% end %>
  </div>

  <a id="add-empty-extract" class="pointer">Extract Result Parameters</a>
</div>

<div id="empty-extract-list" class="form-group"></div>





