<div class="form-group">
  <label for="extract">Default Extract from resulted page load:</label><br>

  <div id="extract-list" class="form-group">
    <div>
      <span class="hash-pair">body_text:</span>
      <span class="hash-pair">document.getElementsByTagName('body')[0].textContent</span></div>
  </div>

  <a id="add-empty-extract" class="pointer">Extract Result Parameters</a>
</div>

<div id="empty-extract-list" class="form-group"></div>




