<%= form_for suite, method: :delete, data: { confirm: 'Delete this suite along with all its tests?' } do |f|  %>
    <input type="hidden" name="id" value="<%= suite.id %>">
    <button type="submit" class="btn btn-default inline-btn">Delete Suite</button>
<% end %>