<label for="pre_run_tests">
  <a href="/doc#pretest">Pre-tests</a>
  outside of this suite to perform before the actual test</label>

<select data-placeholder="Select Tests" class="chosen-select form-control"
        multiple name="pre_run_tests[]">
  <% Suite.where(user: current_user).each do |s| %>
      <% if s != @suite %>
        <optgroup label="<%= s.title %>">
          <% s.tests.each do |test| %>
              <% if @suite != test.suite %>
                  <option value="<%= test.id %>" <%= @suite.pre_tests.include?(test) ? 'selected' : '' %>>
                    <%= test.title %></option>
              <% end %>
          <% end %>
        </optgroup>
      <% end %>
  <% end %>
</select>


