packages:
  yum:
    patch: []
  rubygems:
    ffi: '1.9.18'
    nokogiri: []
files:
  "/etc/nginx/conf.d/02_app_server.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 80;
        server_name _ localhost; # need to listen to localhost for worker tier

        location /fonts {
          alias /var/app/current/vendor/assets/fonts;
          gzip_static on;
          gzip on;
          expires max;
          add_header Cache-Control public;
        }
      }

container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"