packages:
  yum:
    ImageMagick: []
    patch: []
  rubygems:
    ffi: '1.9.18'
    nokogiri: []
container_commands:
  create_pic_dir:
    command: "mkdir -p pic"
    cwd: /home/ec2-user
files:
  "/opt/elasticbeanstalk/bin/setup_firefox.sh":
    mode: "000755"
    content: |
        #!/bin/bash
        curl -X GET -o RPM-GPG-KEY-lambda-epll https://lambda-linux.io/RPM-GPG-KEY-lambda-epll
        sudo rpm --import RPM-GPG-KEY-lambda-epll
        curl -X GET -o epll-release-2015.09-1.1.ll1.noarch.rpm https://lambda-linux.io/epll-release-2015.09-1.1.ll1.noarch.rpm
        sudo yum -y install epll-release-2015.09-1.1.ll1.noarch.rpm
        sudo yum --enablerepo=epll install firefox-compat

commands:
    set_firefox:
        test: test ! -f /opt/elasticbeanstalk/.post-provisioning-complete
        command: /opt/elasticbeanstalk/bin/setup_firefox.sh


