packages:
  yum:
    ImageMagick: []
    xorg-x11-server-Xvfb: []
    patch: []
  rubygems:
    ffi: '1.9.18'
    nokogiri: []
files:
  "/home/ec2-user/install_chrome.sh" :
    mode: "000755"
    owner: root
    group: root
    source: https://s3.amazonaws.com/autotest-test/install_chrome.sh
container_commands:
  create_pic_dir:
    command: "mkdir -p pic"
    cwd: /home/ec2-user
  install_chrome:
    command: "sh install_chrome.sh"
    cwd: /home/ec2-user

