<!DOCTYPE html>
<html>
<head>
  <title>Autotest Documentation</title>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>

<body>
all explanation here
</body>
</html>
