
<div class="container-fluid main-bgr">
    <h1 class="trSH">Automation test for non-coders</h1>
    <div class="euLS">
        <p>Detecting user actions with Chrome Extension</p>
        <p>Receive Test Result in videos</p>
        <p>Little or none programming skills required.</p>
    </div>
    <div class="link_box_container">
        <a class="link_box" href="/suites" target="_blank">Start Trial</a>
        <a class="link_box" href="https://chrome.google.com/webstore/detail/uichecks-chrome-plugin/iicllodpmefpegdgkbjcknpbnehadokb" target="_blank">Install Chrome Extension</a>
    </div>
</div>


<br><br>

<div class="container-fluid">
    <div class="row row-spec">
        <h2 class="h2-title">Create and run a test in 5 minutes </h2>
        <hr>
        <ol class="col-sm-6">
            <li>Install and enable Chrome Extension</li>
            <li>Click <b>Record Steps</b> </li>
            <li>Perform actions on Chrome Browser</li>
            <li>Click <b>Stop Recording Steps</b> </li>
            <li>Check and edit generated test</li>
            <li>Click <b>Run Test</b> </li>
            <li>Allow a few minutes for the test to run. Result video will appear when it is completed.</li>
        </ol>
        <div class="col-sm-6">
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/XGSy3_Czz8k">
            </iframe>
        </div>
    </div>
</div>

<br><br>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="fancy-tab"><h6>Test Existing Features</h6></div>
            <div class="content-wrap">
                <p>Our <a href="https://chrome.google.com/webstore/detail/uichecks-chrome-plugin/iicllodpmefpegdgkbjcknpbnehadokb"> Chrome extension</a> listens to your browser actions to generate tests. UICheck spare you the headache of writing test code. You can replicate tests again and again to see results in videos. </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="fancy-tab"><h6>Test Driven Development</h6></div>
            <div class="content-wrap">
                <p>Test can be created even before your feature exists. Tests consists of steps which can be manually defined by users with our elaborated menu. You can run the test when your feature is actually built.</p>
            </div>
        </div>
    </div>
</div>

<div id="contact" class="container-fluid">
  <div class="row row-spec">
    <h2 class="h2-title">Contact</h2>
    <hr>
    <p>We welcome your feedback. Please let us know what you think by <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdtti3QC1FB8dQ1A6ou0fHBKkJz_72I6QeHBgK3gyfY-ZZkjQ/viewform?c=0&w=1">filling this form</a>.
    </p>
  </div>
</div>

<br><br><br>
