/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.css
 *= require_tree .
 *= require_self
 *= require chosen.css
 */

button a {
  color: white;
}
body {
  padding: 10px;
}
button {
  margin: 5px;
  font-size: 13px;
}
.hash-pair {
  display: inline-block;
  background-color: #e2e1e1;
  padding: 6px;
  margin: 3px;
}
.hover-edit-btn {
  right: 30px;
}
.add-step-after {
  right: 90px;
}
.visible-hover {
  display: none;
  padding: 1px 5px;
  position: absolute;
  top: -2px;
  background-color: bisque;
}
.close span {
  top: 10px;
  position: absolute;
}
span.glyphicon {
  cursor: pointer;
  position: relative;
  top: 2px;
}
.non-complete-step {
  border: solid orange 1px;
}
.pointer {
  cursor: pointer;
}
#assertions-form input[name='assertions[]'] {
  margin: 2px;
}
td form {
  display: inline;
}


