/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require chosen.css
 */

.myheader{
  background: #2c3e50;
  color:white;
}
.banner-head{
  
  margin-bottom: 30px;
    padding: 20px 15px;
    text-align: center;
    color: rgba(255,255,255,0.5);
    background-color: #b84d45;
    font-size: 1.25rem;
    background-image: url(https://startbootstrap.com/assets/img/bg.png);
  text-align:center;
  color:white;
}
.banner-head h2{
  font-size:40px;
 text-transform:uppercase;
    font-weight: 700;
}
.banner-head p{
  font-size:20px;
}
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.inline-btn{
  margin-bottom:12px;
}

button a {
  color: white;
}
button {
  margin: 5px;
  font-size: 13px;
}
.hash-pair {
  display: inline-block;
  background-color: #e2e1e1;
  padding: 6px;
  margin: 3px;
}
.hover-edit-btn {
  right: 30px;
}
.add-step-after {
  right: 90px;
}
.visible-hover {
  display: none;
  padding: 1px 5px;
  position: absolute;
  top: -2px;
  background-color: bisque;
}
.close span {
  top: 10px;
  position: absolute;
}
span.glyphicon {
  cursor: pointer;
  position: relative;
  top: 2px;
}
.non-complete-step {
  border: solid red 2px;
}
.pointer {
  cursor: pointer;
}
#assertions-form input[name='assertions[]'] {
  margin: 2px;
}
td form {
  display: inline;
}


.glyphicon.fast-right-spinner {
  -webkit-animation: glyphicon-spin-r 1s infinite linear;
  animation: glyphicon-spin-r 1s infinite linear;
}

.glyphicon.normal-right-spinner {
  -webkit-animation: glyphicon-spin-r 2s infinite linear;
  animation: glyphicon-spin-r 2s infinite linear;
}

.glyphicon.slow-right-spinner {
  -webkit-animation: glyphicon-spin-r 3s infinite linear;
  animation: glyphicon-spin-r 3s infinite linear;
}

.glyphicon.fast-left-spinner {
  -webkit-animation: glyphicon-spin-l 1s infinite linear;
  animation: glyphicon-spin-l 1s infinite linear;
}

.glyphicon.normal-left-spinner {
  -webkit-animation: glyphicon-spin-l 2s infinite linear;
  animation: glyphicon-spin-l 2s infinite linear;
}

.glyphicon.slow-left-spinner {
  -webkit-animation: glyphicon-spin-l 3s infinite linear;
  animation: glyphicon-spin-l 3s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes glyphicon-spin-r {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes glyphicon-spin-l {
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes glyphicon-spin-l {
  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
#definitions div {
  border: 1px solid gray;
  margin: 3px;
  padding: 10px;
}

.main-bgr{
  height:300px;
  background-image: url("img/banner-bg.jpg");
}
.header-text {
    float: left;
    padding-top: 17px;
}
h1#site-title, h3#site-title {
    font-size: 30px;
    line-height: 36px;
}
.title-text{
  width: 20%;
  float: left;
  color:white;
  margin-left:5%;
}
.menu-item{
  float:right;
  display: block;
  position: relative;
  margin-top: 40px;
}
.menu-item ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu-item li{
  display: inline;
  margin:10px;
}
.menu-item li a{
  color:white;
  text-decoration: none;
}
.menu-item li a:hover{
  color:#18bc9c;
}
.edit_suite{
  display:inline;
}
.main-bgr{
  height:400px;
  background-color: aliceblue;
  background-image: url("https://i.ytimg.com/vi/d-zKJCKsoWw/maxresdefault.jpg");
  position: relative;
}
.main-bgr img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
}
.main-bgr-wrap {
    position: absolute;
    bottom: 15%;
    left: 5%;
}
#wrap-title{
  font-size: 24px;
  margin-bottom: 8px;
  display: block;
}
#wrap-content{
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
  padding: 12px;
  display: inline-block;
  max-width: 60%;
  color: #777777;
  margin-top:10px;
}
#wrap-title a {
  color: #FFFFFF;
  padding: 10px 13px;
  line-height: 1.2;
  background: #ED564B;
}
#promo-box-1 {
    background-color: #f5f5f5;
    padding-bottom: 23px;
    padding-top: 23px;
}
.inner-wrap {
    width: 80%;
}
.promo-wrap {
    width: 80%;
    float: left;
    margin-left:5%;
}
.promo-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 4px;
}
.promo-text {
    font-style: italic;
}
#promo-box-1 a {
    color: #fff;
}
#promo-box-1 a:hover {
    color: #ED564B;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
}
.features{
  text-align: center;
}
.promo-action {
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    float: right;
    padding: 10px 25px;
    margin-top: 18px;
}
.promo-circle {
    border-radius: 50%;
    border: 3px solid #ED564B;
    height: 116px;
    width: 116px;
    margin: 0 auto;
    margin-bottom: 13px;
    overflow: hidden;
}
.promo-circle-wrap {
    font-size: 35px;
    margin-top: 30px;
    color: #ED564B;
    text-align: center;
    vertical-align: middle;
}
.fancy-tab {
    background-color: #ED564B;
    display: inline-block;
    color:white;
    padding: 3px 10px;   
    margin-bottom: 10px;
}
.fancy-tab h6{
    font-size: 16px;
    line-height: 20px;
}
.fancy-tab-btn{
    border: 1px solid #ED564B;
    border-radius: 3px;
    float: right;
    padding: 5px 10px;
}
.content-wrap {
    background-color: #F8F8F8;
    border-radius: 3px;
    padding: 22px 20px;
}
.content-wrap p{
  text-align: left;
  margin-bottom: 0px;
  font-style: italic;
}
.footer{
  text-align: center;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #18bc9c;
  background-color: #2c3e50;
  padding:15px 20px;
}
@media (min-width: 544px){
  .trSH {
      font-size: 2.4rem;
  }
  .euLS {
      font-size: 1.6rem;
      margin-bottom: 2rem;
  }
}

.trSH {
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 500;
    margin-top:70px;
    margin-bottom:20px;

}
.euLS {
    font-size: 16px;
    text-align: center;
    color: #fff;
    max-width: 56rem;
    margin: 0 auto 1rem;
}
.link_box_container{
  margin-top:40px;
  text-align:center;
}
.link_box{
  color: #fff!important;
  border: .2rem solid #fff;
      min-width: 16.5rem;
    display: inline-block;
    text-align: center;
    background: transparent;
    height: 6rem;
    line-height: 5.6rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    white-space: nowrap;
    font-size: 1.4rem;
    padding: 0 2.5rem;
    margin: 0;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none!important;
    -webkit-transition: background-color .1s ease-in-out,color .1s ease-in-out,-webkit-box-shadow .1s ease-in-out;
    transition: background-color .1s ease-in-out,color .1s ease-in-out,box-shadow .1s ease-in-out;
}
.h2-title{
    font-weight: 400;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0;
}
.row-spec{
  padding:0 50px;
}
.row-spec p{
  font-size:18px;
  line-height:1.5;

}

