<div class="modal fade" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Assertion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body add-assertion-form">
        <form id="web-assertion-form">
          <input name="webpage" type="hidden" value="web">

          <div class="form-group">
            <label title="if none provided, all webpages will be tried">
              The web address in which these conditions applies
              <span class="glyphicon glyphicon-info-sign"></span></label>
            <input name="webpage" type="text" placeholder="http://" class="form-control">
          </div>

          <div class="form-group form-inline">
            <label>There must be
            <input name="condition" type="text" value=">= 1" class="form-control" style="width: 100px;">
            elements with selector
            <input name="selector" placeholder="#DOM_id" type="text" class="form-control"></label>
          </div>

          <label>or</label>

          <div class="form-group">
            <label>Your own assertion:</label>
            <input name="assertion" type="text" placeholder="Ex: $('body').length > 0" class="form-control">
          </div>

          <button type="button" class="btn btn-default add-new-assertion">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>