<div class="modal fade" id="addTestModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Test Parameters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body add-assertion-form">
        <div id="test-params-input-list"></div>
        <button id="add-more-test"">Add More Test Params</button>
        <button id="submit-test-params"">Add</button>      
      </div>
      <div class="error-modal"></div>
    </div>
  </div>
</div>