<% @test.test_params.each do |param| %>
    <div class="hash-pair">

      <%= param.label %> : <%= param.val %>

      <span class="glyphicon glyphicon-remove remove-test-param"
            data-key="<%= param.label %>"
            data-value="<%= param.val %>"></span>
    </div>
<% end %>
