<h2>All Tests (<%= testCount %> total)</h2>

<a class="add-test-modal pointer">
  <span class="glyphicon glyphicon-plus"></span> Add Test</a>

<div class="container">
<div class="form-inline">
  <input type="text" class="form-control" id="filter-test" name="filter-test">
  <button id="filter-test-btn">Filter</button>
</div><br>

  <%= render "tests/list", tests: @tests %>
</div>