<h2>All Tests (<%= testCount %> total)</h2>

<a class="add-test-modal pointer">
  <span class="glyphicon glyphicon-plus"></span> Add Test</a>

<div class="container">
<div class="form-inline">
  <label for="filter-test">Filter:</label>
  <input type="text" class="form-control" id="filter-test" name="filter-test">
</div><br>

  <%= render "tests/list", tests: @tests %>
</div>