<div id="copyable" style="display: none;">
  <div class="empty-test-params">
    <input type="text" class="form-control" name="param_names[]" placeholder="parameter name"> :
    <input type="text" class="form-control" name="param_values[]" placeholder="value">
    <span class="glyphicon glyphicon-remove remove-test-param"></span>
  </div>

  <div class="empty-header-params">
    <input type="text" class="form-control" name="header_names[]" placeholder="header"> :
    <input type="text" class="form-control" name="header_values[]" placeholder="value">
    <span class="glyphicon glyphicon-remove remove-header-param"></span>
  </div>

  <div class="empty-pageload-params">
    <input type="text" class="form-control" name="param_names[]" placeholder="param"> :
    <input type="text" class="form-control" name="param_values[]" placeholder="value">
    <span class="glyphicon glyphicon-remove remove-pageload-param"></span>
  </div>

  <div class="classes-select">
    selector:<br>

    <input type="text" class="autotest-input">
  </div>

  <div class="input-combo">
    <input type="text" class="autotest-input">
    <span class="glyphicon glyphicon-ok"></span>
    <span class="glyphicon glyphicon-remove"></span>
  </div>
</div>
