<div class="form-group">
  <label for="pre_run_tests">Perform before the actual test (Ex: Log in)</label>



  <% if defined?(@suite) %>
  <%= @suite.title %>
  <% end  %>



  <select data-placeholder="Select Tests" class="chosen-select form-control" multiple name="pre_run_tests[]">
    <% Suite.where(user: current_user).each do |s| %>
        <optgroup label="<%= s.title %>">
          <% s.tests.each do |test| %>
              <% if @test != test %>
                  <option value="<%= test.id %>"><%= test.title %></option>
              <% end %>
          <% end %>
        </optgroup>
    <% end %>
  </select>
</div>