<h2>Wellcome to autotest!</h2>

<% if user_signed_in? %>
    <a href="/suites">Dashboard</a>
<% else %>
    <%= link_to('Login', new_user_session_path)  %>

    <%= link_to "Google", user_google_oauth2_omniauth_authorize_path %>
<% end %>