<!DOCTYPE html>
<html>
<head>
  <title>Welcome to UI Checks</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body>

<%= yield %>

<div class="container-fluid footer">
<p>Copyright © 2017 UIChecks. Made in Toronto, Canada.</p>
</div>

</body>
</html>